.is-relative .input-icon {
  position: absolute;
  right: 0.25rem;
  top: 0.4rem;
}

.is-rounded + .input-icon {
  right: 0.4rem;
}

.material-design-icon__svg {
  vertical-align: middle;
  margin-right: 0.25rem;
}

main {
  max-width: 638px;
  margin: auto !important;
  padding: 0 1.2rem;
}
